name: Regression Tests

on:
  push:
    branches: [main]
  pull_request:

jobs:
  regression:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Run regression tests of assembler (project 6)
        run: bash 06/run_regression_tests.sh

      - name: Run regression test of vm implementation (project 7, 8)
        run: bash 07_08/run_regression_tests.sh

      - name: Run regression tests of compiler (project 10, 11)
        run: bash 10_11/run_regression_tests.sh
